fastapi~=0.111.0
mlflow~=2.12.1
config~=0.5.1
pandas~=2.1.4
plotly~=5.18.0
requests~=2.31.0
beautifulsoup4~=4.12.2
python-dotenv~=1.0.1
numpy~=1.26.0
pymorphy3~=2.0.1
nltk~=3.8.1
torch~=2.0.1
dynaconf~=3.2.5
pydantic~=2.5.3